version: 2.1

jobs:
  build_env:
    docker:
      - image: cimg/python:3.13
    steps:
      - checkout

      - run:
          name: Install uv
          command: python -m pip install --upgrade pip uv

      - run:
          name: Sync deps (create .venv)
          command: uv sync --frozen

      - persist_to_workspace:
          root: .
          paths: 
            - .
            - .venv

  test:
    docker:
      - image: cimg/python:3.13
    steps:
     - attach_workspace:
        at: .

     - run:
        name: Run tests
        command: uv run pytest -q

workflows:
  ci:
    jobs:
      - build_env
      - test:
          requires: 
            - build_env

